.p-2 {
    height: 441px;
    width: 297px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    border: #a30000;
    border-radius: 10px;
    border-width: 15px;
    border-style: ridge;
}

img {
    height: 360px;
    width: 252px;
}

p {
    text-align: center;
}

.spacer {
    /**height: 65px;**/
}

.browse-bar {
    padding-bottom: 4%;
}

.filter-options {
    justify-content: center;
    align-content: center;
}


.filter-button {
    padding-bottom: 1%;
}

.movie-title {
    padding-top: 15px;
    font-size: 21px;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin: 0;
}

.flex-wrap {
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
}

a {
    text-decoration: none;
}