.SearchBar {
    max-width: 400px;
    display: flex;
    float: left;

}

a:link{
    text-decoration: none!important;
}

.searchField {
    flex: 1 auto;
    order: 1;
    width: 80%;
    border-style: solid;
    border-radius: 10px;
}

.searchButton {
    flex: 1 auto;
    order: 2;
    width: 20%;
    height: 100%;
    border-style: solid;
    border-radius: 10px;
    align-self: flex-end;
}

.Suggestions {
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
}


.Suggestions > a {
    flex: 1 0 0;
    
    text-decoration: none;
    color: black;
    margin: 5px 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 2px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 2px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 2px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 2px;
}